CREATE DATABASE BookManagementDb
GO

USE BookManagementDb
GO


Select * from UserAccount

CREATE TABLE BookCategory(
	BookCategoryId int PRIMARY KEY,
	BookGenreType nvarchar(50) NOT NULL,
	Description nvarchar(500) NOT NULL
)
GO

CREATE TABLE Book(
	BookId int PRIMARY KEY,
	BookName nvarchar(100) NOT NULL,
	Description nvarchar(1000) NOT NULL,
	PublicationDate datetime NOT NULL,
	Quantity int NOT NULL,
	Price float NOT NULL,
	Author nvarchar(50) NOT NULL,
	BookCategoryId int NOT NULL
)
GO

ALTER TABLE Book WITH CHECK ADD CONSTRAINT FK_Book_BookCategory FOREIGN KEY(BookCategoryId)
REFERENCES BookCategory (BookCategoryId)
GO

CREATE TABLE UserAccount(
	MemberId int PRIMARY KEY,
	Password nvarchar(50) NOT NULL,
	Email nvarchar(50) NOT NULL,
	FullName nvarchar(50) NOT NULL,
	Role int NOT NULL
)
GO

-- INSERT DATA TO BOOK CATEGORY TABLE

INSERT BookCategory (BookCategoryId, BookGenreType, Description) VALUES (1, N'Fiction', N'Fiction is any creative work, chiefly any narrative work, portraying individuals, events, or places that are imaginary, or in ways that are imaginary.')
GO

INSERT BookCategory (BookCategoryId, BookGenreType, Description) VALUES (2, N'Science Fiction', N'Science fiction is a genre of speculative fiction, which typically deals with imaginative and futuristic concepts such as advanced science and technology, space exploration, time travel, parallel universes, and extraterrestrial life.')
GO

INSERT BookCategory (BookCategoryId, BookGenreType, Description) VALUES (3, N'Historical Fiction', N'Historical fiction is a literary genre in which the plot takes place in a setting related to the past events, but is fictional.')
GO



-- INSERT DATA TO BOOK TABLE

INSERT Book (BookId, BookName, Description, PublicationDate, Quantity, Price, Author, BookCategoryId) VALUES (15, N'Đời Ngắn Đừng Ngủ Dài-Short Life Don’t Sleep Long', N'Mọi lựa chọn đều giá trị. Mọi bước đi đều quan trọng. Cuộc sống vẫn diễn ra theo cách của nó, không phải theo cách của ta. Hãy kiên nhẫn. Tin tưởng.', CAST(N'2023-01-01T00:00:00.000' AS DateTime), 20, 5.0, N'Robin Sharma', 5)
GO

INSERT Book (BookId, BookName, Description, PublicationDate, Quantity, Price, Author, BookCategoryId) VALUES (16, N'Mình Là Nắng, Việc Của Mình Là Chói Chang-I Am the Sun, My Job Is to Shine Bright',  N'Đừng bỏ lỡ những ngày nắng đẹp. Đừng bỏ qua một trái tim mạnh mẽ và luôn tỏa sáng. Hãy rực rỡ theo cách của riêng mình, cho dù bạn là ai đi chăng nữa.', CAST(N'2018-01-01T00:00:00.000' AS DateTime), 20, 4.5, N'Kazuko Watanabe', 5)
GO

INSERT Book (BookId, BookName, Description, PublicationDate, Quantity, Price, Author, BookCategoryId) VALUES (17, N'Tuổi Trẻ Đáng Giá Bao Nhiêu-How Much Is Youth Worth', N'''Tuổi trẻ đáng giá bao nhiêu?'' giúp giới trẻ dễ dàng tìm định hướng cho mình. Bởi vì, có những lúc bạn cần chủ động biến công việc thành niềm đam mê và tạo ra một bước ngoặt khác cho bản thân.', CAST(N'2018-01-01T00:00:00.000' AS DateTime), 20, 6, N'Rosie Nguyễn', 5)
GO















-- INSERT DATA TO USER ACCOUNT TABLE

INSERT UserAccount (MemberId, Password, Email, FullName, Role) VALUES (1, N'@123Ad', N'admin@bookstore.com', N'Administrator', 1)
GO

INSERT UserAccount (MemberId, Password, Email, FullName, Role) VALUES (2, N'@123St', N'staff@bookstore.com', N'Staff', 2)
GO

INSERT UserAccount (MemberId, Password, Email, FullName, Role) VALUES (3, N'@123Mb1', N'member1@bookstore.com', N'Member 1', 3)
GO

